* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.row {
    display: flex;
}

header, section, footer {
    min-height: 50vh;
    padding: 3rem 15vw;
}

footer {
    min-height: auto;
}

header, footer {
    background-color: #1f2937;
    display: flex;
}

header {
    flex-direction: column;
    padding-top: 1rem;
}

header .links {
    gap: 1em;
    list-style-type: none;
}

header .links a {
    color: #f9faf8;
    text-decoration: none;
}

header .logo {
    color: #f9faf8;
    font-size: 1.5rem;
}

header .brand {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.hero {
    color: #e5e7eb;
    margin: auto 0;
    gap: 2rem;
}

.hero h1 {
    color: #f9faf8;
    font-size: 3rem;
}

.hero button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: inherit;
    font-weight: bold;
    margin-top: 8px;
    padding: 4px 24px;
}

.hero div {
    max-width: 50%;
}

.hero h1, .hero p {
    margin-bottom: 0.75rem;
}

.hero-image {
    align-items: center;
    background-color: gray;
    display: flex;
    justify-content: center;
    max-width: 50%;
    flex-grow: 1;
}

.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info h2 {
    color: #1f2937;
    font-size: 2.25rem;
}

.figures {
    gap: 2rem;
}

figure {
    max-width: 200px;
}

figure .image {
    aspect-ratio: 1/1;
    border: 0.25rem #3882f6 solid;
    border-radius: 0.5rem;
    height: auto;
    margin-bottom: 0.5rem
}

figcaption {
    color: gray;
    font-size: 0.75rem;
    text-align: center;
}

section.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.client {
    color: #1f2937;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: right;
}

p.quote{
    color: #1f2937;
    font-size: 2.25rem;
    font-weight: lighter;
}

aside {
    align-items: center;
    padding: 10vw;
}

aside .action {
    align-items: center;
    background-color: #3882f6;
    border-radius: 0.5rem;
    flex-grow: 1;
    min-height: 50%;
    justify-content: space-between;
    padding: 3rem;
    gap: 1rem;
}

aside .action h3 {
    color: #f9faf8;
    font-size: 1.5rem;
}

aside .action p, aside .action button {
    color: #e5e7eb;
    font-size: 1.125rem;
}

aside .action button {
    background-color: #3882f6;
    border: 0.2rem solid #e5e7eb;
    border-radius: 0.5rem;
    font-weight: bold;
    flex: 0 0 auto;
    padding: 0.25rem 2rem;
}

footer {
    align-items: center;
    color: #e5e7eb;
    justify-content: center;
}